.videoContent{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.cardList {
  width: 228px;
  margin: 0 20px 20px 0;
  cursor: pointer;
  border: 1px solid #f6f6f6
}
.cardList img{
    width: 100%;
}
.cardList p{
    padding: 10px;
    box-sizing: border-box;
}